<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pokemon</h1>
    <nav>
        <a href="/skills">List of Skills</a>
    </nav>